@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
  font-family: 'Pacifico', cursive;
  color: #a6471a;
}
/* Navbar Start */
.navbar .navbar-nav a {
  color: #a6471a;
  font-weight: 400;
  font-size: 42.8px;
  line-height: 60px;
}

.navbar .navbar-nav .nav-link {
  line-height: 62px;
}

.logo {
  width: 250px;
  height: 250px;
}

.custom-toggler.navbar-toggler {
  border: 1.5px solid #a6471a !important;
}

.custom-toggler.navbar-toggler:focus {
  box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(166,71,26,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* Navbar End */

/* Homepage Main Start */
.mySlides {
  display: none;
}

.slideshow-container {
  width: 650px;
  height: 500px;
  position: relative;
  margin: auto;
}

.mySlides img {
  vertical-align: middle;
  width: 650px;
  height: 500px;
}

.prevSlide,
.nextSlide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  text-decoration: none;
}

.nextSlide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevSlide:hover,
.nextSlide:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 1);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot,
.dot:hover {
  background-color: #717171;
}

.fadeAnimation {
  animation-name: fadeAnimation;
  animation-duration: 1.5s;
}

@keyframes fadeAnimation {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .slideshow-container {
    width: 450px;
    height: 300px;
  }
  .mySlides img {
    vertical-align: middle;
    width: 450px;
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .slideshow-container {
    width: 100%;
  }
  .mySlides img {
    vertical-align: middle;
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .prevSlide,
  .nextSlide,
  .text {
    font-size: 11px;
  }
}
/* Homepage Main End */

/* Enkel Mat Start */
#main-of-enkelmat-page p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

#main-of-enkelmat-page img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#main-of-enkelmat-page img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Enkel Mat End */

/* Ingradients Main Start */
#main-of-ingradients img {
  max-width: 300px;
  height: 410px;
}
.custom-card {
  max-width: 280px;
  height: 400px;
  background: #a6471a;
  color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.custom-card .card-title {
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
}

.custom-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
/* Ingradients Main End */
